
/UpgradeLog.XML
/APM-Meter.ncb
/Debug
/ipch
/Release
/APMSharedDll/Release
/APMSharedDll/Debug
/APMConsole/Debug
/APMConsole/Release
/APMConsole/APMConsole.vcproj.nightbook.Jan.user
/APMConsole/APMConsole.vcxproj.user
*.suo
*.opensdf
/APMKeyHook/Debug
/APMKeyHook/Release
/APMShared/Debug
/APMShared/Release
/APMVisualisation/bin
/APMVisualisation/obj
/TestResults
/APMVisualisation-Tests/bin
/APMVisualisation-Tests/obj
*.sdf
/APM-Meter/obj
/APM-Meter/bin